*.Rprofile
*.dat
*.ipynb_checkpoints
*.simg
.directory
.here
analysis/eda/data_summary*
analysis/eda/lc_gcm*
analysis/growth_curves/mplus/*
analysis/rosalind/data/*
analysis/rosalind/fits*
analysis/rosalind/local*
analysis/rosalind/saved_fits/*
analysis/rosalind/scratch/*
data/*
reference/*.~lock*
renv
