data/*
.here
renv
*.Rprofile
.directory
*.simg
analysis/rosalind/data/*
analysis/rosalind/saved_fits/*
analysis/rosalind/scratch/*
*.ipynb_checkpoints
analysis/eda/data_summary*
analysis/eda/lc_gcm*
*.dat
