*.Rprofile
*.dat
*.ipynb_checkpoints
*.simg
.directory
.here
data/**
analysis/mplus/data/**
analysis/eda/data_summary*
analysis/eda/lc_gcm*
analysis/growth_curves/mplus/*
analysis/mplus/fits*
analysis/mplus/local*
analysis/mplus/saved_fits/*
analysis/growth_curves_old/**
analysis/mplus/scratch/*
reference/*.~lock*
renv

reference/

analysis/outputs/

writing/submissions/
